<div id="content_holder">
	<h3><%= @team.name %></h3>
	<!-- Alle Mitglieder dieses Teams -->
	<% to = ""
		@team.users.order("points DESC").each do |m| %>
		<div class="row">
			<div style="width:50%; float:left">
				<%= link_to	m.username, :controller => "users", :action => "show", :id => m.id %>
			</div>
			<div style="width:20%; float:right; text-align: right;">
				<%= m.points %> Pkt.
			</div>
			<div style="clear:both"></div>
		</div>
		<% 
			if current_user.id != m.id
				to += m.id.to_s + ','
			end
		%>
	<% end %>
	<div>
	<% if @team.users.where(id: current_user.id).count > 0 %>
		<br>
		<% 
			to = to[0..-2]
		%>
		<%= link_to "Gruppennachricht schreiben", "/messages/new?to=" + to %>
		<br>
		<%= link_to "Gruppe verlassen", controller: "teams", action: "exit" %>
	<% end %>
	</div>
</div>