
<!-- http://www.iconfinder.com/search/?q=iconset%3Acc_mono_icon_set -->
<ul class="content_fontcolor_link">
	<li style="background-image: url(<%= asset_path 'icons/check.png' %>);">
		<h2><%= link_to "Meine Tipps", tipp_path %></h2>
		<p>Gebe hier deine Tipps für die n&auml;chsten Spiele ab!</p>
	</li>
	<li style="background-image: url(<%= asset_path 'icons/group.png' %>);">
		<h2><%= link_to "Meine Tippgemeinschaft", team_path %></h2>
		<p>Wie gut bist du in deiner Tippgemeinschaft?</p>
	</li>
	<li style="background-image: url(<%= asset_path 'icons/number_list.png' %>);">
		<h2><%= link_to "Ranking", ranking_path %></h2>
		<p>Hier siehst du, wie gut du und deine Tippgemeinschaft sind!</p>
	</li>
	<li style="background-image: url(<%= asset_path 'icons/statistics.png' %>);">
		<h2>Statistiken</h2>
		<p>Aktuelle Tabelle, Torj&auml;ger, Rote/Gelbe Karten</p>
	</li>
	<li style="background-image: url(<%= asset_path 'icons/profil.png' %>);">
		<h2><%= link_to "Mein Profil", edit_user_registration_path %></h2>
		<p>Bearbeite hier dein Profil!</p>
	</li>
	<li style="background-image: url(<%= asset_path 'icons/mail.png' %>);">
		<h2><%= link_to "Nachrichten", messages_path %></h2>
		<p>Kommuniziere mit deinen Freunden!</p>
	</li>
</ul>
<br style="clear:both">