<% 	current_team_id = current_user.team_id %>

<div id="content_holder">
	<% 
		if current_team_id.nil?
	%>
	<p>Du geh&ouml;rst momentan keinem Team an. Gr&uuml;nde ein neues Team oder trete einem vorhanden Team bei.</p><br />

	<div id="form_holder">
		<h2>Team gr&uuml;nden:</h2>

		<%= form_for @team, :url => { :action => "team" } do |f| %>
			
		  <div><%= f.label :name %><br />
		  <%= f.text_field :name %></div>

		  <div><%= f.check_box :is_public %> &ouml;ffentliches Team</div>

		  <div><%= f.submit "Gr&uuml;nden".html_safe %></div>
		<% end %>
		<% 
			allPublicTeam = Team.where("is_public = 1") 
			if allPublicTeam.size > 0
		%>
			<h2>&Ouml;ffentlicher Gruppe beitreten:</h2>
			<% allPublicTeam.each do |t| %>
				<div class="row">
				<div style="width:65%; float:left;">
					<strong>Teamname</strong>
				</div>
				<div style="width:20%; float:left;">
					<strong>Mitglieder</strong>
				</div>
				<div style="clear:both"></div>

				<div style="width:65%; float:left;">
					<%=	t.name %>
				</div>
				<div style="width:20%; float:left; text-align: center;">
					<%= t.users.size %>
				</div>
				<div>
					<%= link_to "beitreten", start_team_path(:t => Encode.new.encrypt(t.id.to_s), :u => Encode.new.encrypt(current_user.id.to_s)) %>
				</div>
				<div style="clear:both"></div>
			</div>
			<% end %>
		<% end %>
	</div>

	<% else %>
		<h3><%= current_user.team.name %></h3>
		<!-- Alle Mitglieder dieses Teams -->
		<% Team.find(current_team_id).users.order("points DESC").each do |m| %>
		<div class="row">
			<div style="width:50%; float:left">
				<%=	m.username %>
			</div>
			<div style="width:20%; float:right; text-align: right;">
				<%= Tipp.where("user_id = ?", m.id).sum("points") %> Pkt.
			</div>
			<div style="clear:both"></div>
		</div>
		<% end %>
		<div>
			<%= link_to "Gruppe verlassen", start_team_path(:d => Encode.new.encrypt(current_team_id.to_s)) %>
		</div>

	<% end %>
</div>

