<div id="content_holder">
	<h3><%= @user.username %></h3>
	<div class="row">
		Name: <%= @user.firstname %> <%= @user.lastname %><br>
		Geburtstag: <%= @user.birthday.strftime("%d.%m.%Y") if @user.birthday %><br>
		Letzter Login: <%= @user.last_sign_in_at.strftime("%d.%m.%Y") if @user.last_sign_in_at %><br>
	</div>
	<div class="row">
		Punkte: <%= @user.points.to_s %><br>
		Team: 
		<% if @user.team.nil? %>
		-
		<% else %>
			<%= link_to @user.team.name, team_path(@user.team) %>
		<% end %><br>
	</div>
	<%= link_to "Nachricht schreiben", new_message_path(to: @user.id) %>
</div>