<div id="landingholder">
<div class="left">	
	<p>
		<h1 class="titleline">Tipp top - top Tipp!</h1>
		<%= image_tag "fussball.gif" %><br>
		<%= image_tag "appstore3.png" %>
		<%= image_tag "android.png" %> <br>
		Das Bundesligatippspiel der neuen Generation! Erlebe mit unserem Tippspiel eine ganz neue Art des Tippens.<br> Gr&uumlnde neue
		Teams und Tippe mit deinen Freunden! </p>
</div>
<div class="right">
<div id="content_holder">
	<h2>Sign up</h2>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	 	<div>
	  		<%= f.label :email %><br />
	  		<%= f.email_field :email %>
	  	</div>

		<div>
			<%= f.label :username %><br />
			<%= f.text_field :username %>
		</div>

		<div>
			<%= f.label :firstname %><br />
			<%= f.text_field :firstname %>
		</div>

		<div>
			<%= f.label :lastname %><br />
			<%= f.text_field :lastname %>
		</div>
		<div>	
			<%= f.label :birthday %><br />
	    	<%= f.date_select :birthday, :start_year=>1900 %>
	    </div>
		<div>
	      	<%= f.label :password %><br />
		  	<%= f.password_field :password %>
		</div>
	    <div>
	  	  	<%= f.label :password_confirmation %><br />
	  		<%= f.password_field :password_confirmation %>
	    </div>

	  <div>
	  		<%= f.submit "Sign up" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
  </div>
</div>
<div class="clear"></div>
</div>