<h1><%= link_to 'Neuigkeiten', news_index_path %></h1>
<% if can? :create, @News %>
  <%= link_to 'Neue News', new_news_path %>
<% end %>
<br/>
<br/> 
<article>
  <div class="news_actions">
    <% if can? :update, @News %>
      <%= link_to 'Bearbeiten', edit_news_path(@News) %>
    <% end %>
    <% if can? :destroy, @News %>
      <%= link_to 'Löschen', @News, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <h2><%= link_to @News.title, @News %></h2>
  <p class="news_categories">Autor:  Datum: <%= @News.created_at.strftime("%d.%m.%Y %H:%M") %>
  </p>
  <p class="news_content"><%= raw(@News.content) %></p>
  <p class="news_categories">Kategorien: 
    <% @CategoryString = "" %>
    <% @News.category_ids.each do |n| %>
      <% @CategoryString += Category.find(n).name + ", " %>
    <% end %>
    <%= @CategoryString[0..-3] %>
  </p>
</article>