 <!DOCTYPE html>
<html>
<head>
  <title>BundesligaTipGame</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    tinyMCE.init({
      // General options
        mode : "textareas",
        theme : "advanced",
        plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,cut,copy,paste,pastetext,pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,forecolor,backcolor",
        theme_advanced_buttons2 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,|,print,|,fullscreen,|,del,ins",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,

        // Skin options
        skin : "o2k7",
        skin_variant : "silver",
    });
  </script>
</head> 
</head>
<body>

	<div class="header">
		<div id="header">
			<div class="maincenter">
				
				<div class="titleleft">
					<h1>Tippspiel</h1>
				</div>

				<div class="searchfield">
					<input id="search" size="30" type="text"> <img src="<%= asset_path 'icons/search.png' %>" style="width: 16px;">
				</div>

				<div class="user_signin">
					<% if user_signed_in? %>
						Angemeldet als 
						<%= link_to current_user.username, edit_user_registration_path, :method => :get %>.
						<%= link_to image_tag('icons/logout.png', :width => 12), destroy_user_session_path, :method => :delete %>
					<% else %>
						<%= link_to "Registrieren", new_user_registration_path %> oder <%= link_to "anmelden", new_user_session_path %>
					<% end %>
				</div>

				<div id="holder">
          <%= image_tag("banner.png") %>
				</div>
			</div>
		</div>
	</div>
					
	<div id="maincontent" class="maincenter">
		
		<!-- START devise messageholder -->
		<div class="center">
			<div class="notice"><%= notice %></div>
		  <div class="alert"><%= alert %></div>
		</div>
		<!-- END devise messageholder -->

		<%= yield %>

		<div class="contentlineholder">
			<h3>irgendwas sinnloses ;)</h3>
		</div>
		
	</div>
	
	<div id="footcontentline"></div>

</body>
</html>
